<div class="container">
    <div class="card mt-4">
        <div class="card-header text-center">PARA USO EXCLUSIVO DE LOS CDC'S</div>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;"> CREACION DE INSTRUCTOR</h5>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-floating mt-4">
                      <input type="text" class="form-control" id="floatingInputNombre" placeholder="name@example.com"   required >
                      <label for="floatingInputNombre">Nombre(s)</label>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-floating mt-4">
                      <input  type="text" class="form-control" id="floatingInputAp" placeholder="name@example.com"   required>
                      <label for="floatingInputAp">Apellido Paterno</label>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-floating mt-4">
                      <input   type="text" class="form-control" id="floatingInputAm" placeholder="name@example.com"  required>
                      <label for="floatingInputAm">Apellido Materno</label>
                    </div>
                  </div>

            </div>
            <div class="col mt-4">
                <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success ">GUARDAR</button>
                </div>
              </div>
        </div>
        <div class="card-footer text-center">
            <div style="overflow-y:scroll; width:1000px; height:200px">
                <table class="table table-bordered  table-striped  mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th>NOMBRE</th>
                            <th>APELLIDO PATERNO</th>
                            <th>APELLIDO MATERNO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rodrigo</td>
                            <td>Castillo</td>
                            <td>Patolzin</td>

                        </tr>
                        <tr>
                            <td>Rodrigo</td>
                            <td>Castillo</td>
                            <td>Patolzin</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!--Segundo Card para la creacion de un nuevo curso-->

    <div class="card mt-4">
        <div class="card-header text-center">PARA USO EXCLUSIVO DE LOS CDC'S</div>
        <div class="card-body">
            <h5 class="card-title text-center" style="font-size: larger;"> CREACION DE NUEVO CURSO</h5>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-floating mt-4">
                      <input type="text" class="form-control" id="floatingInputNombre" placeholder="name@example.com"   required >
                      <label for="floatingInputNombre">Nombre Curso</label>
                    </div>
                  </div>


            </div>
            <div class="col mt-4">
                <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success ">GUARDAR</button>
                </div>
              </div>
        </div>
        <div class="card-footer ">
            <div style="overflow-y:scroll; width:1000px; height:200px">
                <table class="table table-bordered  table-striped  mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th [width]="5">No.</th>
                            <th>NOMBRE CURSO</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Rodrigo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Rodrigo</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
