<div class="container">
    <div class="card mt-4">
        <div class="card-body">

            <div class=" row">
                <div class="d-flex justify-content-between mt-4">
                    <div class="d-flex justify-content-around ">
                            <div class="col-md-auto col-form-label">
                                <label>INSTRUCTOR</label>
                            </div>
                            <div class="col-md-auto ">
                                <select (click)="ObtenerConsultas(0,instructorcursovar.idinstructor,trabacursos.idcurso,trabajador.cdc,trabacursos.periodo,trabacursos.horaInicio)" name="curso" [(ngModel)]="instructorcursovar.idinstructor" class="form-select posdivinicio" aria-label="Default select example">
                                        <option [ngValue]="undefined"> [Selecionar Instructor] </option>
                                        <option *ngFor="let instructor of arreinstructor" [ngValue]="instructor.idInstructor">{{instructor.nombre}} {{instructor.apPaterno}} {{instructor.apMaterno}}</option>
                                </select>
                            </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="col-md-auto col-form-label labelizquierda ">
                            <label style="left: 300px;">PERIODO</label>
                        </div>
                        <div class="col-md-auto ">
                            <select (click)="ObtenerConsultas(3,instructorcursovar.idinstructor,trabacursos.idcurso,trabajador.cdc,trabacursos.periodo,trabacursos.horaInicio)" name="periodo" [(ngModel)]="trabacursos.periodo" class="form-select" aria-label="Default select example">
                                <option [ngValue]="undefined" > Selecionar Periodo </option>
                                <option ngValue="1">Enero-Marzo</option>
                                <option ngValue="2">Abril-Junio</option>
                                <option ngValue="3">Verano</option>
                                <option ngValue="4">Septiembre-Diciembre</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row ">

                <div class="d-flex justify-content-between mt-4">
                    <div class="d-flex justify-content-around ">
                            <div class="col-md-auto col-form-label">
                                <label>CURSO</label>
                            </div>
                            <div class="col-md-auto ">
                                <select (click)="ObtenerConsultas(1,instructorcursovar.idinstructor,trabacursos.idcurso,trabajador.cdc,trabacursos.periodo,trabacursos.horaInicio)" name="curso" [(ngModel)]="trabacursos.idcurso" class="form-select posdivinicio" aria-label="Default select example">
                                        <option [ngValue]="undefined"> Selecionar Curso </option>
                                        <option *ngFor="let curso of cursoslista" [ngValue]="curso.idcurso">{{curso.nombreCurso}}</option>
                                </select>
                            </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="col-md-auto col-form-label labelizquierda ">
                            <label style="left: 300px;">CENTRO DE DESARROLLO COMUNITARIO DE:</label>
                        </div>
                        <div class="col-md-auto ">
                            <select (click)="ObtenerConsultas(2,instructorcursovar.idinstructor,trabacursos.idcurso,trabajador.cdc,trabacursos.periodo,trabacursos.horaInicio)" name="cdc" [(ngModel)]="trabajador.cdc" class="form-select" aria-label="Default select example">
                                <option [ngValue]="undefined" > Selecionar CDC </option>
                                <option *ngFor="let cdcs of cdcslista" [ngValue]="cdcs.idCdcs">{{cdcs.nombreCdc}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="d-flex justify-content-between mt-4">
                    <div class="d-flex justify-content-around ">
                        <div class="col-md-auto col-form-label">
                            <label>CODIGO CURSO: </label>
                        </div>
                        <div class="col-md-auto ">
                            <input name="codigocurso" [(ngModel)]="trabacursos.codigocurso" type="text"  class="form-control posdivinicio"  id="codigocurso" placeholder="CODIGO CURSO">
                        </div>
                    </div>

                    <div class="d-flex justify-content-around">
                        <div class="col-md-auto col-form-label labelizquierda ">
                            <label style="left: 300px;">REPORTE DE: </label>
                        </div>
                        <div class="col-md-auto ">
                            <textarea name="codigocurso" [(ngModel)]="trabacursos.codigocurso" type="text"  class="form-control posdivinicio"  id="codigocurso" placeholder="REPORTE"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-start  ">
                    <div class="col-md-auto col-form-label">
                        <label class="labelejemp" for="selectanio">HORA INICIO</label>
                    </div>
                    <div class="col-md-auto">
                        <select (click)="ObtenerConsultas(4,instructorcursovar.idinstructor,trabacursos.idcurso,trabajador.cdc,trabacursos.periodo,trabacursos.horaInicio)" name="horainicio" [(ngModel)]="trabacursos.horaInicio" class="form-select posdivinicio " aria-label="Default select example">
                          <option [ngValue]="undefined" > [Selecionar HORA] </option>
                          <option ngValue="07">07:00 a 08:00 hrs</option>
                          <option ngValue="08">08:00 a 09:00 hrs</option>
                          <option ngValue="09">09:00 a 10:00 hrs</option>
                          <option ngValue="10">10:00 a 11:00 hrs</option>
                          <option ngValue="11">11:00 a 12:00 hrs</option>
                          <option ngValue="12">12:00 a 13:00 hrs</option>
                          <option ngValue="13">13:00 a 14:00 hrs</option>
                          <option ngValue="14">14:00 a 15:00hrs</option>
                          <option ngValue="15">15:00 a 16:00hrs</option>
                          <option ngValue="16">16:00 a 17:00 hrs</option>
                          <option ngValue="17">17:00 a 18:00 hrs</option>
                          <option ngValue="18">18:00 a 19:00hrs</option>
                          <option ngValue="19">19:00 a 20:00hrs</option>
                        </select>
                      </div>
                </div>
            </div>

        </div>
      </div>

      <table class="table table-striped table-hover table-bordered mt-3">
        <thead >

          <tr valign="middle" class="text-center">
            <th rowspan="2" [width]="5">No.</th>
            <th rowspan="2" [width]="50">FOLIO No.</th>
            <th rowspan="2" [width]="150">NOMBRE</th>
            <th colspan="5" [width]="180">ASISTENCIAS (Semanas)</th>
            <th rowspan="2" [width]="120">Observaciones </th>
          </tr>
          <tr>
            <th [width]="30">1</th>
            <th [width]="30">2</th>
            <th [width]="30">3</th>
            <th [width]="30">4</th>
            <th [width]="30">5</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consulta of tablatrabajadorcurso">
                <td>
                    {{contador}}
                </td>
                <td>
                    {{consulta.folio}}
                </td>
                <td>
                    {{consulta.nombreTrabajador}}
                </td>

            </tr>

        </tbody>
    </table>

</div>




