<div class = "container">

  <div class="row">
  <div class="col-md-3">
    <div class="form-floating mt-2">
      <input name="folio" [(ngModel)]="trabajador.folio" type="text" class="form-control" id="floatingInputFolio" placeholder="name@example.com">
      <label for="floatingInputFolio">No. Folio</label>
    </div>
  </div>
  <div class="col-md-3" >
    <select name="sector" [(ngModel)]="trabajador.sector" class="form-select mt-2" aria-label="Default select example" [ngClass]="sector.invalid && (sector.dirty || sector.touched)?'invalid-contorno':'form-controll'" #sector="ngModel" required>
      <option [ngValue]="undefined">[ Selecionar Sector ]</option>
      <option *ngFor="let sector of sectorlista" [ngValue]="sector.idSector">{{sector.nombreSector}}</option>
    </select>
    <div class="invalid-relleno" *ngIf="sector.invalid && (sector.dirty || sector.touched)">
      <div  *ngIf="sector.errors.required">
        *Sector Requerido
      </div>
    </div>
  </div>
  </div>

  <div class= "row">

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="nombre" [(ngModel)]="trabajador.nombre" type="text" class="form-control" id="floatingInputNombre" placeholder="name@example.com" [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched)?'invalid-contorno':'form-controll'" #nombre="ngModel" required >
        <label for="floatingInputNombre">Nombre(s)</label>

        <div class="invalid-relleno" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div  *ngIf="nombre.errors.required">
            *Nombre Requerido
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="apPaterno" [(ngModel)]="trabajador.apPaterno" type="text" class="form-control" id="floatingInputAp" placeholder="name@example.com" [ngClass]="ap.invalid && (ap.dirty || ap.touched)?'invalid-contorno':'form-controll'" #ap="ngModel" required>
        <label for="floatingInputAp">Apellido Paterno</label>

        <div class="invalid-relleno" *ngIf="ap.invalid && (ap.dirty || ap.touched)">
          <div  *ngIf="ap.errors.required">
            *Apellido Paterno Requerido
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="apMaterno" [(ngModel)]="trabajador.apMaterno"  type="text" class="form-control" id="floatingInputAm" placeholder="name@example.com" [ngClass]="apm.invalid && (apm.dirty || apm.touched)?'invalid-contorno':'form-controll'" #apm="ngModel" required>
        <label for="floatingInputAm">Apellido Materno</label>
        <div class="invalid-relleno" *ngIf="apm.invalid && (apm.dirty || apm.touched)">
          <div  *ngIf="apm.errors.required">
            *Apellido Materno Requerido
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <select name="genero" [(ngModel)]="trabajador.genero" class="form-select mt-4" aria-label="Default select example" [ngClass]="genero.invalid && (genero.dirty || genero.touched)?'invalid-contorno':'form-controll'" #genero="ngModel" required >
        <option [ngValue]="undefined">Selecionar Genero</option>
        <option ngValue="M">M</option>
        <option ngValue="F">F</option>
      </select>

      <div class="invalid-relleno" *ngIf="genero.invalid && (genero.dirty || genero.touched)">
        <div  *ngIf="genero.errors.required">
          *Genero Requerido
        </div>
      </div>
    </div>

  </div>
  <div class = "row">
    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input  name="fechaNacimiento" [(ngModel)]="trabajador.fechaNacimiento" type="date" class="form-control" id="floatingInputFechana" placeholder="name@example.com" [ngClass]="fechaNav.invalid && (fechaNav.dirty || fechaNav.touched)?'invalid-contorno':'form-controll'" #fechaNav="ngModel" required>
        <label for="floatingInputFechana">Fecha Nacimiento</label>

        <div class="invalid-relleno" *ngIf="fechaNav.invalid && (fechaNav.dirty || fechaNav.touched)">
          <div  *ngIf="fechaNav.errors.required">
            *Fecha Nacimiento Requerida
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="tipoSanguineo" [(ngModel)]="trabajador.tipoSanguineo" type="text" class="form-control" id="floatingInputSanguineo" placeholder="name@example.com" [ngClass]="tiposanguineo.invalid && (tiposanguineo.dirty || tiposanguineo.touched)?'invalid-contorno':'form-controll'" #tiposanguineo="ngModel" required>
        <label for="floatingInputSanguineo">Tipo Sanguineo</label>

        <div class="invalid-relleno" *ngIf="tiposanguineo.invalid && (tiposanguineo.dirty || tiposanguineo.touched)">
          <div  *ngIf="tiposanguineo.errors.required">
            *Tipo sanguineo Requerido
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <select name="estadoCivil" [(ngModel)]="trabajador.estadoCivil" class="form-select mt-4 anchura" aria-label="Default select example" [ngClass]="estadocivil.invalid && (estadocivil.dirty || estadocivil.touched)?'invalid-contorno':'form-controll'" #estadocivil="ngModel" required>
        <option [ngValue]="undefined"> Estado Civil </option>
        <option ngValue="1">Soltera</option>
        <option ngValue="2">Casada</option>
        <option ngValue="3">Divorciada</option>
        <option ngValue="4">Viuda</option>
      </select>

      <div class="invalid-relleno" *ngIf="estadocivil.invalid && (estadocivil.dirty || estadocivil.touched)">
        <div  *ngIf="estadocivil.errors.required">
          *Estado Civil Requerido
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input  name="claveElector" [(ngModel)]="trabajador.claveElector" type="text" class="form-control" id="floatingInputElector" placeholder="name@example.com" [ngClass]="claveElector.invalid && (claveElector.dirty || claveElector.touched)?'invalid-contorno':'form-controll'" #claveElector="ngModel" required>
        <label for="floatingInputElector">Clave Elector</label>

        <div class="invalid-relleno" *ngIf="claveElector.invalid && (claveElector.dirty || claveElector.touched)">
          <div  *ngIf="claveElector.errors.required">
            *Clave Elector Requerida
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="seccion" [(ngModel)]="trabajador.seccion" type="text" class="form-control" id="floatingInputSeccion" placeholder="name@example.com" [ngClass]="seccion.invalid && (seccion.dirty || seccion.touched)?'invalid-contorno':'form-controll'" #seccion="ngModel" required>
        <label for="floatingInputSeccion">Seccion</label>

        <div class="invalid-relleno" *ngIf="seccion.invalid && (seccion.dirty || seccion.touched)">
          <div  *ngIf="seccion.errors.required">
            *Seccion Requerida
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="curp" [(ngModel)]="trabajador.curp" type="text" class="form-control" id="floatingInputCurp" [ngClass]="curpv.invalid && (curpv.dirty || curpv.touched)?'invalid-contorno':'form-controll'" #curpv="ngModel" required minlength="18" maxlength="18" placeholder="name@example.com">
        <label for="floatingInputCurp">CURP</label>
        <div class="invalid-relleno" *ngIf="curpv.invalid && (curpv.dirty || curpv.touched)">
          <div  *ngIf="curpv.errors.required">
            La CURP es requerida
          </div>
          <div *ngIf="curpv.errors.minlength">
              la CURP debe tener 18 caracteres
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-3">
      <select name="cargo" [(ngModel)]="trabajador.cargo" class="form-select mt-4" aria-label="Default select example" [ngClass]="cargova.invalid && (cargova.dirty || cargova.touched)?'invalid-contorno':'form-controll'" #cargova="ngModel" required>
        <option [ngValue]="undefined">[ Selecionar Cargo ]</option>
        <option *ngFor="let cargo of cargolista" [ngValue]="cargo.idcargo">{{cargo.nombreCargo}}</option>
      </select>

      <div class="invalid-relleno" *ngIf="cargova.invalid && (cargova.dirty || cargova.touched)">
        <div  *ngIf="cargova.errors.required">
          *Cargo Requerido
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <select name="region" [(ngModel)]="trabajador.region" class="form-select mt-4" aria-label="Default select example" [ngClass]="regionva.invalid && (regionva.dirty || regionva.touched)?'invalid-contorno':'form-controll'" #regionva="ngModel" required>
        <option [ngValue]="undefined">[ Sellecionar Region ]</option>
        <option *ngFor="let region of regionlista" [ngValue]="region.claveRegion">{{region.nombreRegion}}</option>
      </select>

      <div class="invalid-relleno" *ngIf="regionva.invalid && (regionva.dirty || regionva.touched)">
        <div  *ngIf="regionva.errors.required">
          *Region Requerido
        </div>
      </div>
    </div>

    <div class="col-md-3" >
      <select name="cdc" [(ngModel)]="trabajador.cdc" class="form-select mt-4" aria-label="Default select example" [ngClass]="cdcVa.invalid && (cdcVa.dirty || cdcVa.touched)?'invalid-contorno':'form-controll'" #cdcVa="ngModel" required>
        <option [ngValue]="undefined">[ Seleccionar CDC ]</option>
        <option *ngFor="let cdcs of cdcslista" [ngValue]="cdcs.idCdcs">{{cdcs.nombreCdc}}</option>
      </select>

      <div class="invalid-relleno" *ngIf="cdcVa.invalid && (cdcVa.dirty || cdcVa.touched)">
        <div  *ngIf="cdcVa.errors.required">
          *CDC Requerido
        </div>
      </div>
    </div>

  </div>

  <hr style="color: rgb(111, 204, 247); margin-top: 30px;" />

  <p>
    <button class="btn btn-primary tamanoletra" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Datos domicilio
    </button>
  </p>
  <div class="collapse" id="collapseExample">
  <div class = "row">

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="calle" [(ngModel)]="trabajador.calle" type="text" class="form-control" id="floatingInputCalle" placeholder="name@example.com" [ngClass]="calle.invalid && (calle.dirty || calle.touched)?'invalid-contorno':'form-controll'" #calle="ngModel" required>
        <label for="floatingInputCalle">Calle</label>

        <div class="invalid-relleno" *ngIf="calle.invalid && (calle.dirty || calle.touched)">
          <div  *ngIf="calle.errors.required">
            *Calle Requerida
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="numero" [(ngModel)]="trabajador.numero" type="text" class="form-control" id="floatingInputNumero" placeholder="name@example.com" [ngClass]="numero.invalid && (numero.dirty || numero.touched)?'invalid-contorno':'form-controll'" #numero="ngModel" required>
        <label for="floatingInputNumero">Numero</label>

        <div class="invalid-relleno" *ngIf="numero.invalid && (numero.dirty || numero.touched)">
          <div  *ngIf="numero.errors.required">
            *Numero de Domicilio Requerido
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="colonia" [(ngModel)]="trabajador.colonia" type="text" class="form-control" id="floatingInputCol" placeholder="name@example.com" [ngClass]="colonia.invalid && (colonia.dirty || colonia.touched)?'invalid-contorno':'form-controll'" #colonia="ngModel" required>
        <label for="floatingInputCol">Colnia</label>

        <div class="invalid-relleno" *ngIf="colonia.invalid && (colonia.dirty || colonia.touched)">
          <div  *ngIf="colonia.errors.required">
            *Colonia Requerida
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="cp" [(ngModel)]="trabajador.cp" type="text" class="form-control" id="floatingInputCP" placeholder="name@example.com" [ngClass]="cp.invalid && (cp.dirty || cp.touched)?'invalid-contorno':'form-controll'" #cp="ngModel" required>
        <label for="floatingInputCP">Codigo Postal</label>

        <div class="invalid-relleno" *ngIf="cp.invalid && (cp.dirty || cp.touched)">
          <div  *ngIf="cp.errors.required">
            *Codigo Postal Requerido
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class = "row">

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="localidad" [(ngModel)]="trabajador.localidad" type="text" class="form-control" id="floatingInputLocalidad" placeholder="name@example.com" [ngClass]="localidad.invalid && (localidad.dirty || localidad.touched)?'invalid-contorno':'form-controll'" #localidad="ngModel" required>
        <label for="floatingInputLocalidad">Localidad</label>

        <div class="invalid-relleno" *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)">
          <div  *ngIf="localidad.errors.required">
            *Localidad Requerida
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="municipio" [(ngModel)]="trabajador.municipio" type="text" class="form-control" id="floatingInputMunicipio" placeholder="name@example.com" [ngClass]="municipio.invalid && (municipio.dirty || municipio.touched)?'invalid-contorno':'form-controll'" #municipio="ngModel" required>
        <label for="floatingInputMunicipio">Municipio</label>

        <div class="invalid-relleno" *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)">
          <div  *ngIf="municipio.errors.required">
            *Municipio Requerido
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input  name="celular" [(ngModel)]="trabajador.celular" type="text" class="form-control" id="floatingInputCelular" placeholder="name@example.com" [ngClass]="numcelular.invalid && (numcelular.dirty || numcelular.touched)?'invalid-contorno':'form-controll'" #numcelular="ngModel" required>
        <label for="floatingInputCelular">Celular</label>

        <div class="invalid-relleno" *ngIf="numcelular.invalid && (numcelular.dirty || numcelular.touched)">
          <div  *ngIf="numcelular.errors.required">
            *Numero Celular Requerido
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input  name="telCasa" [(ngModel)]="trabajador.telCasa" type="text" class="form-control" id="floatingInputTelCasa" placeholder="name@example.com" [ngClass]="telcasa.invalid && (telcasa.dirty || telcasa.touched)?'invalid-contorno':'form-controll'" #telcasa="ngModel" required>
        <label for="floatingInputTelCasa">Telefono Casa</label>

        <div class="invalid-relleno" *ngIf="telcasa.invalid && (telcasa.dirty || telcasa.touched)">
          <div  *ngIf="telcasa.errors.required">
            *#Tel. Casa Requerido
          </div>
        </div>
      </div>
    </div>

  <div class = "row">

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="correoElectronico" [(ngModel)]="trabajador.correoElectronico" type="email" class="form-control" id="floatingInputCorreElectro"
        placeholder="name@example.com" [ngClass]="correo.invalid && (correo.dirty || correo.touched)?'invalid-contorno':'form-controll'" #correo="ngModel" (keyup)="validarCorreo()">
        <label for="floatingInputCorreElectro">Correo Electronico</label>

        <div class="invalid-relleno" *ngIf="!validarCorreo() && (correo.dirty || correo.touched)">

          <div  *ngIf="!validarCorreo()">
            *El correo es incorrecto
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input  name="facebook" [(ngModel)]="trabajador.facebook" type="text" class="form-control" id="floatingInputFacebook" placeholder="name@example.com">
        <label for="floatingInputFacebook">Facebook</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="twitter" [(ngModel)]="trabajador.twitter" type="text" class="form-control" id="floatingInputTwitter" placeholder="name@example.com">
        <label for="floatingInputTwitter">Twitter</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating mt-4">
        <input name="instagram" [(ngModel)]="trabajador.instagram" type="text" class="form-control" id="floatingInputInstagram" placeholder="name@example.com">
        <label for="floatingInputInstagram">Instagram</label>
      </div>
    </div>

  </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button (click)= "crearTrabajador(trabajador)" type="button" class="btn btn-success">GUARDAR</button>
    </div>
    <div class="col-auto">
      <button [routerLink]="['/clua',trabajador.curp]" type="button" class="btn btn-success">GENERAR CLUA</button>
    </div>
  </div>
</div>


