
  <div class="row justify-content-between">

    <div class="col-md-auto mt-4">
      <img
        src="assets/croc.png"
        class="rounded"
        style="height: 120px; width: 200px"
      />
      <h3 class="pt-5 m-0" >LIC. DAVID AGUILAR ROBLES</h3>
      <h3>Secretario General de la CROC Oaxaca.</h3>
    </div>

    <div class="col-md-auto mt-4 text-center">
      <h2>CONFEDERACION REVOLUCIONARIA</h2>
      <h3>DE OBREROS Y CAMPESINOS</h3>
      <h4>DEL ESTADO DE OAXACA</h4>
    </div>

    <div class="col-md-2 mt-4">
      <img
        src="assets/perfil.jpg"
        class="rounded "
        style="height: auto; width: 210px"
      />
    </div>
  </div>

  <div class="row">
      <p class="alineartexto">Por este medio, le solicito me autorice el ingreso a la Federación Revolucionaria de Obreros y Campecinos del Estado de Oaxaca CROC, comprometíendome desde este momento a respetar los estatutos, los acuerdos que emanen de las asambleas y/o en su caso las convocatorias a eventos politicos, sociales o culturales de la organizacion;  para lo cual proporciono la siguiente informacion y documentación.</p >

        <div  class="col-md-auto mt-4 labelcard">
          <label  class="col-form-label">FOLIO: </label>
        </div>
        <div class="col-md-1">
          <div class="form-label mt-4">
          <input name="buscarfolio" type="text"  class="form-control"  id="dateanio" placeholder="Folio" (keyup)="buscarfolio($event)">
          </div>
        </div>
        <h6>DATOS GENERALES </h6>

        <div class="col-md-3 text-center">
            <input name="nombre" [(ngModel)]="trabajador.nombre"  type="text" class="form-control" id="floatingInputNombre" class="w3-input">
            <label for="floatingInputNombre" >Nombre(s)</label>
        </div>



        <div class="col-md-2 text-center">
            <input name="ap" [(ngModel)]="trabajador.apPaterno"  type="text" class="form-control" id="floatingInputAp" class="w3-input">
            <label for="floatingInputAp">Apellido Paterno</label>
        </div>

        <div class="col-md-3 text-center">

            <input name="am" [(ngModel)]="trabajador.apMaterno" type="text" class="form-control" id="floatingInputAm" class="w3-input">
            <label for="floatingInputAm">Apellido Paterno</label>

        </div>
  </div>

  <div class="row">

          <div class="col-md-3 mt-4 text-center">
              <input name="Genero" [(ngModel)]="trabajador.genero" type="text" class="form-control" id="floatingInputGenero" class="w3-input">
              <label for="floatingInputGenero">Genero</label>
          </div>

          <div class="col-md-2 mt-4 text-center">
              <input name="FechaNa" [(ngModel)]="trabajador.fechaNacimiento" type="text" class="form-control" id="floatingInputFechaNa" class="w3-input">
              <label for="floatingInputFechaNa">Fecha nacimiento</label>
          </div>

          <div class="col-md-3 mt-4 text-center">
              <input name="Tiposanguineo" [(ngModel)]="trabajador.tipoSanguineo" type="text" class="form-control" id="floatingInputTiposa" class="w3-input">
              <label for="floatingInputTiposa">Tipo Sanguineo</label>
          </div>

          <div class="col-md-3 mt-4 text-center">
              <input name="Estadocivil" [(ngModel)]="trabajador.estadoCivil" type="text" class="form-control" id="floatingInputEstadocivil" class="w3-input">
              <label for="floatingInputEstadocivil">Estado Civil</label>
          </div>
  </div>

<div class="row">
    <div class = "col-md-3 mt-4 text-center">
      <input name="ClaveElector" [(ngModel)]="trabajador.claveElector" type="text" class="form-control" id="ClaveElector" class="w3-input">
      <label for="InputClua" class="form-label">Clave Elector</label>
    </div>


      <div class = "col-md-auto mt-4 text-center">
        <input name="InputSeccion" [(ngModel)]="trabajador.seccion" type="text" class="form-control" id="InputSeccion" class="w3-input">
        <label for="InputSeccion" class="form-label">Seccion</label>
      </div>

      <div class = "col-md-3 mt-4 text-center">
        <input name="InputCurp" [(ngModel)]="trabajador.curp" type="text" class="form-control" id="InputCurp" class="w3-input">
        <label for="InputCurp" class="form-label">CURP</label>
      </div>


  </div>

  <div class="row">
    <h3 class="mt-5">DOMICILIO (ACTUAL) </h3>

    <div class="col-md-4">
      <input name="InputCalle" [(ngModel)]="trabajador.calle" type="text"  id="InputCalle" class="w3-input" >
    </div>

    <div class = "col-md-3">
      <input name="InputNumero" [(ngModel)]="trabajador.numero" type="text"  id="InputNumero" class="w3-input">
    </div>

    <div class = "col-md-3">
      <input name="InputColonia" [(ngModel)]="trabajador.colonia" type="text" id="InputColonia" class="w3-input">
    </div>


    <div class = "col-md-4 mt-2 text-center">
      <label for="InputCalle" class="form-label">Calle</label>
    </div>


    <div class = "col-md-3 mt-2 text-center">
      <label for="InputNumero" class="">Numero</label>
    </div>


    <div class = "col-md-3 mt-2 text-center">
      <label for="InputColonia" class="form-label">Colonia</label>
    </div>

  </div>

  <div class="row">

      <div class = "col-md-3 mt-4">
        <input name="InputCP" [(ngModel)]="trabajador.cp" type="text" id="InputCP" class="w3-inputsinlinea">
      </div>

      <div class = "col-md-4 mt-4">
        <input name="InputLocalidad" [(ngModel)]="trabajador.localidad" type="text" class="w3-inputsinlinea" id="InputLocalidad">
      </div>

      <div class = "col-md-4 mt-4">
        <input name="InputMunicipio" [(ngModel)]="trabajador.municipio" type="text" class="w3-inputsinlinea" id="InputMunicipio">
      </div>

      <div class="col-md-12">
         <div class=" linea"></div>
      </div>

      <div class = "col-md-3 mt-2 text-center">
        <label for="InputCP" >CP</label>
      </div>

      <div class = "col-md-4 mt-2 text-center">
        <label for="InputLocalidad" class="form-label">Localidad</label>
      </div>

      <div class = "col-md-4 mt-2 text-center">
        <label for="InputMunicipio" class="form-label">Municipio</label>
      </div>

  </div>

  <div class="row">

    <div class = "col-md-3 mt-4">
      <input name="InputCelular" [(ngModel)]="trabajador.celular"  type="text" class="w3-inputsinlinea" id="InputCelular">
    </div>

    <div class = "col-md-4 mt-4">
      <input name="InputTealCasa" [(ngModel)]="trabajador.telCasa" type="text" class="w3-inputsinlinea" id="InputTealCasa">
    </div>

    <div class = "col-md-4 mt-4">
      <input name="InputCorreE" [(ngModel)]="trabajador.correoElectronico" type="text" class="w3-inputsinlinea" id="InputCorreE">
    </div>

    <div class="col-md-12">
        <div class=" linea"></div>
    </div>

    <div class = "col-md-3 mt-2 text-center">
      <label for="InputCelular" class="form-label">Celular</label>
    </div>


    <div class = "col-md-4 mt-2 text-center">
      <label for="InputTealCasa" class="form-label">Telefono Casa: </label>
    </div>

    <div class = "col-md-4 mt-2 text-center">
      <label for="InputCorreE" class="form-label">Corre Electronico: </label>
    </div>


  </div>

  <div class="row">

      <div class = "col-md-3 mt-4">
          <input name="InputFacebook" [(ngModel)]="trabajador.facebook" type="text" class="w3-inputsinlinea" id="InputFacebook">
      </div>

      <div class = "col-md-4 mt-4">
        <input name="InputTwitter" [(ngModel)]="trabajador.twitter" type="text" class="w3-inputsinlinea" id="InputTwitter">
      </div>

      <div class = "col-md-4 mt-4">
        <input name="InputInstagram" [(ngModel)]="trabajador.instagram" type="text" class="w3-inputsinlinea" id="InputInstagram">
      </div>

      <div class="col-md-12">
         <div class=" linea"></div>
      </div>

      <div class = "col-md-3 mt-2 text-center">
        <label for="InputFacebook" class="form-label">Facebook: </label>
      </div>


      <div class = "col-md-4 mt-2 text-center">
        <label for="InputTwitter" class="form-label">Twitter: </label>
      </div>


      <div class = "col-md-4 mt-2 text-center">
        <label for="InputInstagram" class="form-label">Instagram: </label>
      </div>


  </div>

  <div class="row">
    <div class="card mt-4">
      <div class="card-header text-center">
        AREA EXCLUSIVA PARA LA SECRETARIA TECNICA
      </div>
      <div class="card-body">
        <h5 class="card-title ">NOTA: La cedula debe estar requisitada completamente, asimismo la documentacion debe ser entregada en el momento del registro.</h5>

        <div class="row">
          <h3 style="margin: 0;">DOCUMENTOS ENTREGADOS</h3>
          <div class="col-md-auto ">
            <input name="actanacimiento" [checked]="trabajador.hasactanacimiento" class="inputejem" type="checkbox" value="" id="checkacta">
            <label class="labelejem" for="checkacta">
              ACTA DE NACIMIENTO
            </label>
          </div>

          <div class="col-md-auto form-check">
            <input name="comprobantedomicilio" [checked]="trabajador.hascomprobante" class="inputejem" type="checkbox" value="" id="checkdomicilio">
            <label class="labelejem" for="checkdomicilio">
              COMPROBANTE DE DOMICILIO
            </label>
          </div>

          <div class="col-md-auto  form-check">
            <input name="curp" [checked]="trabajador.hascurp" class="inputejem" type="checkbox" value="" id="checkcurp">
            <label class="labelejem" for="checkcurp">
              CURP
            </label>
          </div>

          <div class="col-md-auto  form-check">
            <input name="ine" [checked]="trabajador.hasine" class="inputejem" type="checkbox" value="" id="checkineife">
            <label class="labelejem" for="checkineife">
              INE/IFE
            </label>
          </div>

        </div>

        <div class = "row ">

          <div class = "col-md-1 mt-4">
            <label for="InputClua" class="form-label">CLUA</label>

          </div>
          <div class = "col-md-2 mt-4">
            <input name="anioclua" [(ngModel)]="trabajador.anioclua"  type="text" class="form-control " id="InputAnio" placeholder="Año Afiliacion" data-bs-placement="bottom" title="Ingrese los dos ultimos digitos del año (Ej. 2001 => 01">
          </div>
          <div class = "col-md-2 mt-4">
            <input name ="sector" [(ngModel)]="trabajador.sector" type="text" class="form-control " id="InputSector" placeholder="SECTOR" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class = "col-md-2 mt-4">
            <input  name ="cargo" [(ngModel)]="trabajador.cargo" type="text" class="form-control  " id="InputCargo" placeholder="CARGO" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class = "col-md-2 mt-4">
            <input  name="municipio" [(ngModel)]="trabajador.municipio" type="text" class="form-control  " id="InputMunicipio" placeholder="CLAVE MUNICIPIO" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class = "col-md-2 mt-4">
            <input  name="region" [(ngModel)]="trabajador.region" type="text" class="form-control  " id="InputRegion" placeholder="REGION" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class="form">
          <div class = "col-md-4 mt-4">
            <input name="idclua" [(ngModel)]="trabajador.idclua" type="text" class="form-control text-center" id="InputClua" placeholder="CLUA" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md mt-4">
      <p>Por todo lo anterior, pido mi afiliación a la CROC Oaxaca y en su caso la credencial con fotografía que acredite mi pertenencia a la organización, además autorizo a CROC Oaxaca el utilizar mis datos personales para los fines antes establecidos en el aviso de privacidad, así como enviar propaganda y publicidad</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md mt-3">
      <label for="InputFecha" class="form-label">FECHA: </label>
      {{date | date : "shortDate"}}
    </div>
  </div>
  <div class="row">
    <div class="row align-items-start">
      <div class="row align-items-center">
        <div class="col">
          Solicito
        </div>
        <div class="col">
          Valido
        </div>
        <div class="col">
          Autorizo
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row align-items-start">
      <div class="row align-items-center">

        <div class="col mt-5">

          <h6>Firma del Afiliado</h6>
        </div>
        <div class="col text-center">
          <img
              src="assets/Imagen1.png"
              class="rounded float-left"
              style="height: auto; width: 200px"
            />
            <h6>Mtro. José Manuel Gil Aquino</h6>
            <h6 >Secretario Técnico</h6>
        </div>
        <div class="col text-center">
          <img
              src="assets/Imagen2.png"
              class="rounded float-left"
              style="height: auto; width: 200px"
            />
            <h6>Lic. David Aguilar Robles</h6>
            <h6>Secretario General</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 text-center">
    <p>CERAF 2018   AVISO DE PRIVACIDAD VIGENTE.  Para mayor información consulte nuestra pagina de internet www.crocoaxaca.org.mx</p>
  </div>
