  <div class="row">

    <div class="col-md-auto mt-4">
      <img
        src="assets/croc.png"
        class="rounded float-left"
        style="height: 120px; width: 200px"
      />
      <h6 class="mt-4">LIC. DAVID AGUILAR ROBLES</h6>
      <h6>Secretario General de la CROC Oaxaca.</h6>
    </div>

    <div class="col-md-auto mt-4 text-center">
      <h2>CONFEDERACION REVOLUCIONARIA</h2>
      <h3>DE OBREROS Y CAMPESINOS</h3>
      <h4>DEL ESTADO DE OAXACA</h4>
    </div>

    <div class="col-md-2 mt-4">
      <img
        src="assets/perfil.jpg"
        class="rounded float-right "
        style="height: auto; width: 210px"
      />
    </div>
  </div>

  <div class="row">
      <p>Por este medio, le solicito me autorice el ingreso a la Federación Revolucionaria de Obreros y Campecinos del Estado de Oaxaca CROC, comprometíendome desde este momento a respetar los estatutos, los acuerdos que emanen de las asambleas y/o en su caso las convocatorias a eventos politicos, sociales o culturales de la organizacion;  para lo cual proporciono la siguiente informacion y documentación.</p >
      <h6>DATOS GENERALES </h6>
        <div class="col-md-5">
          <div class="form-floating mt-2">
            <input name="nombre"  type="text" class="form-control" id="floatingInputNombre" placeholder="name@example.com">
            <label for="floatingInputNombre">Nombre(s)</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-floating mt-2">
            <input name="ap"  type="text" class="form-control" id="floatingInputAp">
            <label for="floatingInputAp">Apellido Paterno</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-floating mt-2">
            <input name="am"  type="text" class="form-control" id="floatingInputAm">
            <label for="floatingInputAm">Apellido Paterno</label>
          </div>
        </div>
  </div>

  <div class="row">
          <div class="col-md-3">
            <div class="form-floating mt-3">
              <input name="Genero"  type="text" class="form-control" id="floatingInputGenero">
              <label for="floatingInputGenero">Genero</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-floating mt-3">
              <input name="FechaNa"  type="text" class="form-control" id="floatingInputFechaNa">
              <label for="floatingInputFechaNa">Fecha nacimiento</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-floating mt-3">
              <input name="Tiposanguineo"  type="text" class="form-control" id="floatingInputTiposa">
              <label for="floatingInputTiposa">Tipo Sanguineo</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-floating mt-3">
              <input name="Estadocivil"  type="text" class="form-control" id="floatingInputEstadocivil">
              <label for="floatingInputEstadocivil">Estado Civil</label>
            </div>
          </div>
  </div>

  <div class="row g-2">
    <div class = "col-md-auto mt-4">
      <label for="InputClua" class="form-label">Clave Elector</label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="ClaveElector"  type="text" class="form-control" id="ClaveElector">
    </div>

      <div class = "col-md-auto mt-4">
        <label for="InputSeccion" class="form-label">Seccion</label>
      </div>
      <div class = "col-md-auto mt-4">
        <input name="InputSeccion"  type="text" class="form-control" id="InputSeccion">
      </div>

      <div class = "col-md-auto mt-4">
        <label for="InputCurp" class="form-label">CURP</label>
      </div>
      <div class = "col-md-auto mt-4">
        <input name="InputCurp"  type="text" class="form-control" id="InputCurp">
      </div>

  </div>

  <div class="row">
    <h6 class="mt-5">DOMICILIO (ACTUAL) </h6>

    <div class = "col-md-auto mt-4">
      <label for="InputCalle" class="form-label">Calle</label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputCalle"  type="text" class="form-control" id="InputCalle">
    </div>

    <div class = "col-md-auto mt-4">
      <label for="InputNumero" class="form-label">Numero</label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputNumero"  type="text" class="form-control" id="InputNumero">
    </div>

    <div class = "col-md-auto mt-4">
      <label for="InputColonia" class="form-label">Colonia</label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputColonia"  type="text" class="form-control" id="InputColonia">
    </div>

  </div>

  <div class="row">
      <div class = "col-md-auto mt-4">
        <label for="InputCP" class="form-label">CP</label>
      </div>
      <div class = "col-md-auto mt-4">
        <input name="InputCP"  type="text" class="form-control" id="InputCP">
      </div>

      <div class = "col-md-auto mt-4">
        <label for="InputLocalidad" class="form-label">Localidad</label>
      </div>
      <div class = "col-md-auto mt-4">
        <input name="InputLocalidad"  type="text" class="form-control" id="InputLocalidad">
      </div>

      <div class = "col-md-auto mt-4">
        <label for="InputMunicipio" class="form-label">Municipio</label>
      </div>
      <div class = "col-md-auto mt-4">
        <input name="InputMunicipio"  type="text" class="form-control" id="InputMunicipio">
      </div>
  </div>

  <div class="row">

    <div class = "col-md-auto mt-4">
      <label for="InputCelular" class="form-label">Celular</label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputCelular"  type="text" class="form-control" id="InputCelular">
    </div>

    <div class = "col-md-auto mt-4">
      <label for="InputTealCasa" class="form-label">Telefono Casa: </label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputTealCasa"  type="text" class="form-control" id="InputTealCasa">
    </div>

    <div class = "col-md-auto mt-4">
      <label for="InputCorreE" class="form-label">Corre Electronico: </label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputCorreE"  type="text" class="form-control" id="InputCorreE">
    </div>

  </div>

  <div class="row">

    <div class = "col-md-auto mt-4">
      <label for="InputFacebook" class="form-label">Facebook: </label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputFacebook"  type="text" class="form-control" id="InputFacebook">
    </div>

    <div class = "col-md-auto mt-4">
      <label for="InputTwitter" class="form-label">Twitter: </label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputTwitter"  type="text" class="form-control" id="InputTwitter">
    </div>

    <div class = "col-md-auto mt-4">
      <label for="InputInstagram" class="form-label">Instagram: </label>
    </div>
    <div class = "col-md-auto mt-4">
      <input name="InputInstagram"  type="text" class="form-control" id="InputInstagram">
    </div>

  </div>

  <div class="row">
    <div class="card mt-4">
      <div class="card-header text-center">
        AREA EXCLUSIVA PARA LA SECRETARIA TECNICA
      </div>
      <div class="card-body">
        <h5 class="card-title ">NOTA: La cedula debe estar requisitada completamente, asimismo la documentacion debe ser entregada en el momento del registro.</h5>
        <div class = "row g-1">
          <div class = "col-md-1 mt-4">
            <label for="InputClua" class="form-label">CLUA</label>
          </div>
          <div class = "col-md-2 mt-4">
            <input   type="text" class="form-control " id="InputAnio" placeholder="Año Afiliacion" data-bs-placement="bottom" title="Ingrese los dos ultimos digitos del año (Ej. 2001 => 01">
          </div>
          <div class = "col-md-2 mt-4">
            <input  type="text" class="form-control " id="InputSector" placeholder="SECTOR" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class = "col-md-2 mt-4">
            <input  type="text" class="form-control  " id="InputCargo" placeholder="CARGO" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class = "col-md-2 mt-4">
            <input   type="text" class="form-control  " id="InputMunicipio" placeholder="CLAVE MUNICIPIO" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class = "col-md-2 mt-4">
            <input   type="text" class="form-control  " id="InputRegion" placeholder="REGION" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          <div class="form">
          <div class = "col-md-4 mt-4">
            <input   type="text" class="form-control text-center" id="InputClua" placeholder="CLUA" data-bs-placement="bottom" title="Tooltip on top">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md mt-4">
      <p>Por todo lo anterior, pido mi afiliación a la CROC Oaxaca y en su caso la credencial con fotografía que acredite mi pertenencia a la organización, además autorizo a CROC Oaxaca el utilizar mis datos personales para los fines antes establecidos en el aviso de privacidad, así como enviar propaganda y publicidad</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md mt-3">
      <label for="InputFecha" class="form-label">FECHA: </label>
      {{date | date : "shortDate"}}
    </div>
  </div>
  <div class="row">
    <div class="row align-items-start">
      <div class="row align-items-center">
        <div class="col">
          Solicito
        </div>
        <div class="col">
          Valido
        </div>
        <div class="col">
          Autorizo
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row align-items-start">
      <div class="row align-items-center">

        <div class="col mt-5">

          <h6>Firma del Afiliado</h6>
        </div>
        <div class="col text-center">
          <img
              src="assets/Imagen1.png"
              class="rounded float-left"
              style="height: auto; width: 200px"
            />
            <h6>Mtro. José Manuel Gil Aquino</h6>
            <h6 >Secretario Técnico</h6>
        </div>
        <div class="col text-center">
          <img
              src="assets/Imagen2.png"
              class="rounded float-left"
              style="height: auto; width: 200px"
            />
            <h6>Lic. David Aguilar Robles</h6>
            <h6>Secretario General</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 text-center">
    <p>CERAF 2018   AVISO DE PRIVACIDAD VIGENTE.  Para mayor información consulte nuestra pagina de internet www.crocoaxaca.org.mx</p>
  </div>
